github "anagromataf/Fountain" ~> 2.5
github "bitstadium/HockeySDK-iOS"
github "Intercambio/KeyChain" ~> 1.1
github "Intercambio/CoreXMPP" ~> 1.6
github "Intercambio/XMPPMessageHub" ~> 1.5
github "Intercambio/XMPPContactHub" ~> 1.2
